/* General */

body {
  font: 14px/22px 'Open Sans', sans-serif;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

a{
  color: white;
  text-decoration: none;
}

.menu-list a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

/* Header */

.header {
  align-items: center;
  background-color: lightgray;
  display: flex;
  height: 150px;
  justify-content: space-between;
  padding: 0 10%;
}

.company-logo-title {
  align-items: center;
  display: flex;
  gap: 10px;
}

.logo-image {
  height: 100px;
  width: auto;
}

.title-name,
.header-phone-number {
  color: gray;
  font-size: 30px;
  margin: 5px 0;
}

.header-phone-number p {
  margin: 15px 0;
}

/* Menu */

.menu {
  align-items: center;
  background-color: gray;
  display: flex;
  height: 50px;
  justify-content: center;
}

.menu-list {
  color: white;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  white-space: pre-wrap;
}

/* Slider */

.slider img {
  height: auto;
  width: 100%;
}

/* Content */

.content {
  display: flex;
  gap: 50px;
  padding: 50px 10% 10% 10%;
}

/* Content - News */

.news {
  background-color: gray;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 50px 30px 30px;
}

.news-header {
  font-size: 30px;
  padding-bottom: 20px;
}

.news-link {
  margin-left: auto;
  padding-top: 40px;
  text-decoration: underline;
  text-underline-position: under;
}

.recent-news p {
  padding-bottom: 20px;
}

/* Content - Main */

.content-main {
  color: gray;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 80%;
}

.about-company > * {
  padding-bottom: 20px;
}

.what-we-do {
  display: flex;
  gap: 20px;
}

/* Footer */

.footer {
  background-color: gray;
  color: white;
  display: flex;
  height: 150px;
  justify-content: space-between;
  padding: 15px 10%;
}

.footer a {
  text-decoration: underline;
  text-underline-position: under;
}

.footer-list {
  list-style: none;
}

.footer-underline {
  text-decoration: underline;
}