/* General */

body {
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
  font: 14px/22px 'Open Sans', sans-serif;
}

a{
   text-decoration:none;
   color: white;
}

.menu-list a:hover {
   text-decoration:underline;
   text-underline-position: under;
}

/* Header */

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  background-color: lightgray;
  height: 150px;
}

.company-logo-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo-image {
  height: 100px;
}

.title-name,
.header-phone-number {
  font-weight: bold;
  font-size: 30px;
  color: gray;
  margin: 5px 0;
}

.header-phone-number p {
  margin: 15px 0;
}

/* Menu */

.menu {
  background-color: gray;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-list {
  display: flex;
  /* gap: 25px; */
  list-style: none;
  justify-content: center;
  margin: 0;
  color: white;
  white-space: pre-wrap;
}

/* Slider */

/* Content */

/* Footer */

.footer {
  display: flex;
  background-color: gray;
  color: white;
  justify-content: space-between;
  padding: 15px 10%;
  height: 150px;
}

.footer a {
  text-decoration:underline;
  text-underline-position: under;
}

.footer-list {
  list-style: none;
  /* justify-self: center; */
}

.footer-underline {
  text-decoration: underline;
}